@font-face{
    font-family: HKGrotesk-Light;
    src: url('/assets/font/HKGrotesk-Light.ttf');
}

.all-content{
    font-family: 'HKGrotesk-Light', sans-serif;    
}

.menu{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255); 
    width: 85rem;
    height: 10rem;
    padding: 1rem;
}

.image-menu{
    background-color: rgba(255, 255, 255, 01);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.7rem;   
}

.homepage{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    display: b;
    margin: 5rem;
    padding: 1rem;
    border: 1rem solid white;
}

.homepage:hover{
    color: rgb(206, 200, 210);
    transition: 200ms ease-in-out;
}

.pipe{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    display: inline;    
}

.help-page{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.5rem;
    display: inline;
    margin: 5rem;
    padding: 1rem;
    border: 1rem solid white;
}

.help-page:visited{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.help-page:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.btn-gray{
    background-color: rgb(25, 26, 27);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 100;
    border: 0.1rem solid rgb(255, 255, 255);
    border-radius: 0.4rem;
    display: inline;
    width: 14rem;
    height: 2rem;
}

.btn-blue{
    background-color: rgb(76, 95,213);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 100;
    border-radius: 0.4rem;
    display: inline;
    width: 8rem;
    height: 2rem;
}

.purple-stripe{
    background-color: rgb(218,219,241);
    font-size: 2.1rem;
    text-align: center;
    content: 2rem;
    padding: 5rem 1rem 7rem 1rem;
    border: 5rem;
}

.search-bar{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    width: 40rem;
    height: 4rem;
    border: 0.1rem solid rgb(0, 0, 0);
    padding: 1rem;
}

.search-bar:hover{
    border: 0.1rem solid rgb(17, 0, 255);
    transition: 100ms ease-in-out;
}

.footer-container{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.image-footer{
    background-color: rgba(255, 255, 255, 01);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.7rem;
}

.mobile-btn-blue{
    background-color: rgb(76, 95,213);
    width: 5rem;
    height: 3rem;
    font-size: 1.1rem;    
    color: rgb(255, 255, 255);
    border-radius: 1.75rem;
}